<!--Double navigation-->
<header>
  <!-- Sidebar navigation -->
  <div id="slide-out" class="side-nav sn-bg-4 fixed">
    <ul class="custom-scrollbar">
      <!-- Logo -->
      <li class="admin">
        <i class="far fa-user"></i>
        <h6>ADMIN</h6>
      </li>
      <!--/. Logo -->
      <!-- Side navigation links -->
      <li>
        <ul class="collapsible collapsible-accordion">
          <li><a class="collapsible-header waves-effect arrow-r active" routerLink="/dashBoard"><i
                class="mr-3 fas fa-chalkboard"></i>DashBoard</a>
          </li>
          <li><a class="collapsible-header waves-effect arrow-r" routerLink="/course"><i
                class="mr-3 far fa-address-book"></i> Course</a>
          </li>
          <li><a class="collapsible-header waves-effect arrow-r" routerLink="/instructor"><i
                class="mr-3 fas fa-user-tie"></i> Instructor</a>
          </li>
          <li><a class="collapsible-header waves-effect arrow-r" routerLink="/jobDetails"><i
                class="mr-3 fas fa-landmark"></i> Job</a>
          </li>
        </ul>
      </li>
      <!--/. Side navigation links -->
    </ul>
    <div class="sidenav-bg mask-strong"></div>
  </div>
  <!--/. Sidebar navigation -->
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
    <!-- SideNav slide-out button -->
    <div class="float-left">
      <a href="#" data-activates="slide-out" class="button-collapse"><img src="assets/images/header.png" alt=""></a>
    </div>
    <!-- Breadcrumb-->
    <div class="breadcrumb-dn mr-auto">
      <p>Platinum Rail Services</p>
    </div>
    <ul class="nav navbar-nav nav-flex-icons ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          John Doe
          <i class="fas fa-angle-down rotate-icon mr-3 ml-2"></i>
          <img src="assets/images/avatar.jpeg" alt="">
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.Navbar -->
</header>
<!--/.Double navigation-->