.table-component-header span{
    font-size: 28px;
    color: #43425D;
}
.table-component-header button{
    border-radius: 4px;
}
.table-component-header i {
    font-size: 16px;
}
.table-responsive{
    overflow-y: scroll;
    max-height: 200px;
}
.table th{
    background-color: #F5F6FA;
    color: #A3A6B4;
    border: none !important;
    width: 50%;
    display: inline-block;
}
.custom-select{
    border: 1px solid #d5d2d2;
    background: #fff;
    width: 100%;
    background-image: url("../../../assets/images/drop-down.png") !important;
    background-repeat: no-repeat;
    background-position: center right 12px;
    padding: 10px 35px 10px 10px;
    background-size: 15px 18px;
}
.modal-header i {
    color: #3B86FF !important;
    font-size: 28px;
}

.modal-header h4 {
    color: #3B86FF !important;
    font-size: 22px;
}
.modal-content{
    border-radius: 20px;
    /* height: 871px;
    width: 770px; */
}
.d-flex i {
    font-size: 16px;
}
.selectedDate i{
    color:  #3B86FF
}
.selectedDate span{
    color:  #3B86FF
}
table#dtBasicExample2 tr {
    width: 100%;
    display: block;
}
.md-form input.datepicker + label{
}
/* .custom-select select {
    background-image: url("../../../assets/images/drpo-down.png");
} */